body {
    background: #171717 !important;
}

h1 {
    display: inline;
    color: teal;
    letter-spacing: 5px;
    position: absolute;
    font-family: 'Courier New', Courier, monospace !important;
}

.bold {
    font-size: 80px !important;
}