body {
  background: black !important;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.game {
  position: relative;
  margin: 100px;

  .game-board {
    margin: 50px auto;
    display: table;
  }

  .game-info {
    text-align: center;
    .statistic {
      display: block;
    }
  }

  .off {
    background: teal;
  }
  
  .on {
    background: white;
  }
  
  .square {
    float: left;
    border: 3px solid black;
    height: 80px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 80px;

    &:hover {
      border: 5px solid inset black;
    }
  }

  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }

}

