body {
  background: #171717 !important;
}

h1 {
  display: inline;
  color: teal;
  letter-spacing: 5px;
  position: absolute;
  font-family: 'Courier New', Courier, monospace !important;
}

.bold {
  font-size: 80px !important;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.game {
  position: relative;
  margin: 100px;

  .game-board {
    margin: 50px auto;
    display: table;
  }

  .game-info {
    text-align: center;
    .statistic {
      display: block;
      margin: 20px 0;
    }
  }

  .off {
    background: teal;
  }
  
  .on {
    background: white;
  }
  
  .square {
    float: left;
    border: 3px solid #171717;
    height: 80px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 80px;
  }

  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }

}

